.habitCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-lg);
  border-radius: var(--border-radius);
  margin-bottom: var(--spacing-lg);
  background-color: var(--surface-color);
  box-shadow: var(--box-shadow);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  position: relative;
  min-height: 150px; /* Changed to min-height and increased */
  flex-shrink: 0; /* Prevent shrinking */
}

.habitCard:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.habitCard[data-habit-type="good"] {
  border-left: 6px solid var(--success-color);
}

.habitCard[data-habit-type="bad"] {
  border-left: 6px solid var(--error-color);
}

.habitIcon {
  font-size: 1.8rem;
  color: var(--primary-color);
}

.habitCard h3 {
  margin: 0;
  color: var(--text-color);
  font-size: 1.3rem;
  font-weight: var(--font-weight-medium);
}

.habitDetails {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: flex-start; /* Align items to the start */
  gap: var(--spacing-sm); /* Reduced gap */
  margin-top: var(--spacing-md);
}

.progressBarContainer {
  width: 100%;
  height: 12px;
  background-color: #e0e0e0;
  border-radius: 6px;
}

.progressBar {
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 6px;
  transition: width 0.5s ease;
}

.streak {
  font-size: 1rem;
  font-weight: var(--font-weight-medium);
  color: var(--text-color-secondary);
}

.leftSection {
  display: flex;
  align-items: center;
  margin-right: var(--spacing-md);
}

.centerSection {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rightSection {
  display: flex;
  align-items: center;
  margin-left: var(--spacing-md);
}

.actionButtons {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
  font-size: 2rem;
  color: black !important;
}

.iconButton:hover {
  transform: scale(1.1);
}

.completeButton {
  background-color: var(--success-color);
}

.undoButton {
  background-color: var(--secondary-color);
}

.deleteButton {
  background-color: var(--error-color);
}
