button {
  border: none;
  border-radius: var(--border-radius);
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: var(--font-weight-medium);
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: var(--primary-color);
  color: #fff;
}

button:hover {
  background-color: var(--primary-color-dark);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-complete {
  background-color: var(--success-color);
}

.btn-undo {
  background-color: var(--secondary-color);
}

.btn-delete {
  background-color: var(--error-color);
}
